.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 10px;
    padding-bottom: 10px;

}

/* Space out the warning panel */
form > p.bg-warning {
    padding: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 960px) {
      .container {
            max-width: 960px;
      }
}

