# Disable directory browsing
Options -Indexes

RewriteEngine On
# Enable me for the deploying on the studi server
#RewriteBase /~s0544361/Aufgabe4
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php [L]



